SECRET_KEY=cle-generee-via-vommande  #python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DEBUG=True
EMAIL_HOST_USER=adressemail@gmail.com
EMAIL_HOST_PASSWORD=motdepasse-application
